* {
	margin: 0;
	padding: 0;
}
:root {
	--bg: #332c54;
	--light: #757097;
	--bold: #ad83ca;
	--white: #f1f2eb;
}
body {
	background-color: var(--bg);
	color: var(--light);
	font-family: 'Roboto Mono', sans-serif;
}

.margin {
	max-width: 1200px;
	margin: auto;
}

h1 {
	color: var(--bold);
	font-family: 'Roboto Slab', serif;
	font-size: 4rem;
}
a {
	color: inherit;
	text-decoration: none;
}

nav {
	height: 6vh;
	box-sizing: border-box;
	padding: 0rem 5rem;
	border-top: 2px solid var(--bold);
	border-radius: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav h2 {
	color: var(--bold);
}
nav a{
	color: var(--white);
	margin-left: 3rem;
}
nav a:hover {
	color: var(--bold);
	transition: 0.2s;
}

header {
	height: 94vh;
	background: url(images/herobg.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;
}
.apresentation {
	padding: 0 3rem;
	height: 94vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}
.apresentation span {
	color: var(--bold);
	letter-spacing: 0.5rem;

}
.figure {
	width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 25px 25px 0 0 var(--bold);
}
.spacer {
	width: 5rem;
}
.hero_text h1 {
	color: var(--white);
}
.hero_text p {
	max-width: 500px;
}
.hero_grid {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
	gap: 2rem;
}
.feature h2 {
	color: var(--white);
}